#!/usr/bin/env python3
PACKAGE = "peak_ros"  

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# TCG Parameters for Amine's sample
# gen.add("amp_factor", double_t, 0, "TCG amplification factor (dB)", 65.0, 0.0, 100.0)
# gen.add("depth_factor", double_t, 0, "TCG depth factor (mm)", 145.0, 1.0, 200.0)

# # Gate Parameters
# gen.add("gate_front_wall", double_t, 0, "Front wall gate (0 to 1)", 0.5, 0.0, 1.0)
# gen.add("depth_to_skip", double_t, 0, "Depth to skip (mm)", 4.0, 0.0, 50.0)
# gen.add("gate_back_wall", double_t, 0, "Back wall gate (0 to 1)", 0.5, 0.0, 1.0)

# TCG Parameters for Angled Sample
gen.add("amp_factor", double_t, 0, "TCG amplification factor (dB)", 2.0, 0.0, 100.0)
gen.add("depth_factor", double_t, 0, "TCG depth factor (mm)", 100.0, 1.0, 200.0)

# Gate Parameters
gen.add("gate_front_wall", double_t, 0, "Front wall gate (0 to 1)", 0.5, 0.0, 1.0)
gen.add("depth_to_skip", double_t, 0, "Depth to skip (mm)", 32.5, 0.0, 50.0)
gen.add("gate_back_wall", double_t, 0, "Back wall gate (0 to 1)", 0.5, 0.0, 1.0)

exit(gen.generate(PACKAGE, "ltpa_node", "dynamic_variables"))